<!DOCTYPE html>
<html lang="en">

  <el-config-provider :locale="locale">
    <el-container class="layout-container-demo" style="height: 500px">
      <el-header style="text-align: right; font-size: 12px">


        <div class="toolbar">
          <el-row :gutter="20">
            <el-col :span="6">
              hi
              <div class="grid-content ep-bg-purple"/>
            </el-col>
            <el-col :span="6">
              hi
              <div class="grid-content ep-bg-purple"/>
            </el-col>
            <el-col :span="6">
              hi
              <div class="grid-content ep-bg-purple"/>
            </el-col>
            <el-col :span="6">
              hi
              <div class="grid-content ep-bg-purple"/>
            </el-col>
          </el-row>

          <span> settings </span>
          <el-dropdown>
            <el-icon :size="20">
              <Setting/>
            </el-icon>
            <template #dropdown>
              <el-dropdown-menu>
                <el-dropdown-item>View</el-dropdown-item>
                <el-dropdown-item>Add</el-dropdown-item>
                <el-dropdown-item>Delete</el-dropdown-item>
                <el-dropdown-item>
                  <div class="darkButton">
                    <UseDark v-slot="{ isDark, toggleDark }">
                      <el-switch v-model="themeDark" @click="toggleDark()" active-text="Dark" inactive-text="Light"/>
                    </UseDark>
                  </div>
                </el-dropdown-item>

                <el-dropdown-item>
                  <div class="switchLang">
                    <el-switch v-model="themeLang" @click = "switchLanguage()" active-text="CH" inactive-text="EN"/>
                  </div>
                </el-dropdown-item>
              </el-dropdown-menu>
            </template>
          </el-dropdown>
        </div>
      </el-header>


      <el-container>

        <el-aside width="200px">
          <el-scrollbar>
            <el-menu :default-openeds="['1', '3']">
              <el-sub-menu index="1">
                <template #title>
                  <el-icon>
                    <message/>
                  </el-icon>
                  Navigator One
                </template>
                <el-menu-item-group>
                  <template #title>Group 1</template>
                  <el-menu-item index="1-1">Option 1</el-menu-item>
                  <el-menu-item index="1-2">Option 2</el-menu-item>
                </el-menu-item-group>
                <el-menu-item-group title="Group 2">
                  <el-menu-item index="1-3">Option 3</el-menu-item>
                </el-menu-item-group>
                <el-sub-menu index="1-4">
                  <template #title>Option4</template>
                  <el-menu-item index="1-4-1">Option 4-1</el-menu-item>
                </el-sub-menu>
              </el-sub-menu>
              <el-sub-menu index="2">
                <template #title>
                  <el-icon>
                    <icon-menu/>
                  </el-icon>
                  Navigator Two
                </template>
                <el-menu-item-group>
                  <template #title>Group 1</template>
                  <el-menu-item index="2-1">Option 1</el-menu-item>
                  <el-menu-item index="2-2">Option 2</el-menu-item>
                </el-menu-item-group>
                <el-menu-item-group title="Group 2">
                  <el-menu-item index="2-3">Option 3</el-menu-item>
                </el-menu-item-group>
                <el-sub-menu index="2-4">
                  <template #title>Option 4</template>
                  <el-menu-item index="2-4-1">Option 4-1</el-menu-item>
                </el-sub-menu>
              </el-sub-menu>
              <el-sub-menu index="3">
                <template #title>
                  <el-icon>
                    <setting/>
                  </el-icon>
                  Navigator Three
                </template>
                <el-menu-item-group>
                  <template #title>Group 1</template>
                  <el-menu-item index="3-1">Option 1</el-menu-item>
                  <el-menu-item index="3-2">Option 2</el-menu-item>
                </el-menu-item-group>
                <el-menu-item-group title="Group 2">
                  <el-menu-item index="3-3">Option 3</el-menu-item>
                </el-menu-item-group>
                <el-sub-menu index="3-4">
                  <template #title>Option 4</template>
                  <el-menu-item index="3-4-1">Option 4-1</el-menu-item>
                </el-sub-menu>
              </el-sub-menu>
            </el-menu>
          </el-scrollbar>
        </el-aside>
        <el-main>
          <div class="menu">
            <router-link to="/home">Home</router-link>
            |
            <router-link to="/login">Login</router-link>
            |
            <router-link to="/404">404</router-link>
            <router-view></router-view>

          </div>
        </el-main>
      </el-container>
    </el-container>

  </el-config-provider>
</html>