<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv=Content-Type content=text/html; charset=utf-8/>
<html>
<head>
    <meta charset="utf-8">
    <title>test</title>
</head>



<body>
<form action="login/" method="post">
    {% csrf_token %}
    <input type="text" name="CodeName">
    <br/>
    <input type="password" name="Password">
    <input type="submit" value="登录">
</form>
<br/><br/><br/><br/>
<form action="/index/profile/" method="post">
    {% csrf_token %}
    <input type="text" name="CodeName">
    <br/>
    <input type="number" name="Gender">
    <br/>
    <input type="text" name="Class">
    <br/>
    <input type="text" name="Region">
    <br/>
    <input type="text" name="Race">
    <br/>
    <input type="submit" value="注册">
</form>
<br/>
<br/>
<br/>
<form action="/test/" method="get">
    <input type="submit" value="获取所有用户">
</form>

<form action="/index/application/Nearl/@accept/" method="post">
    <input type="text" name="CodeName">
    <br/>
    <input type="password" name="Password">
    <input type="password" name="Permission">
    <input type="submit" value="接受">
</form>

<form action="/index/profile/" method="post">
    <input type="text" name="CodeName">
    <input type="submit" value="获取单个用户">
</form>




<br/><br/><br/><br/>

<p>{{ rlt }}</p>
</body>
</html>