<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
<head>
<meta charset="utf-8">
<title>test</title>
</head>
<body>
    <form action="login" method="post">
        {% csrf_token %}
        <input type="text" name="CodeName">
        <br/>
        <input type="password" name="PassWord">
        <input type="submit" value="登录">
    </form>
    <br/><br/><br/><br/>
    <form action="POST/users" method="post">
        {% csrf_token %}
        <input type="text" name="CodeName">
        <br/>
        <input type="password" name="PassWord">
        <input type="submit" value="注册">
    </form>
    <br/>
    <br/>
    <br/>
    <form action="/index/user/GET/users" method="post">
        <input type="text" name="token">
        <input type="submit" value="获取所有用户">
    </form>
    <p>{{ rlt }}</p>
</body>
</html>